<!-- page to see a list of all tables to test if database works -->

{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}

<!-- Table of all orgs + info -->
<h3>Nav Bar: </h3>
<p><a href="index">Return to welcome page</a></p>

<h2>Organizations</h2>
<table>
  <tr>
    <th>ORG_ID</th>
    <th>ORG_NAME</th>
    <th>ORG_DESCRIPTION</th>
    <th>ORG_EMAIL</th>
    <th>MARKETING_EMAIL</th>
    <th>COMMS_EMAIL</th>
    <th>FINANCE_EMAIL</th>
    <th>ADVISOR_EMAIL</th>
  </tr>

  {% for row in orgs %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<!-- Table of all users + info -->
<h2>Users</h2>
<table>
  <tr>
    <th>USER_ID</th>
    <th>USER_EMAIL</th>
    <th>PASSWORD</th>
  </tr>

  {% for row in users %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
 

