<!-- page to see a list of all tables to test if database works -->

{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}

<!-- Table of all orgs + info -->
<h3>Nav Bar: </h3>
<p><a href="/">Return to welcome page</a></p>

<h2>Organizations</h2>
<table>
  <tr>
    <th>ORG_ID</th>
    <th>ORG_NAME</th>
    <th>ORG_DESCRIPTION</th>
    <th>ORG_EMAIL</th>
    <th>MARKETING_EMAIL</th>
    <th>COMMS_EMAIL</th>
    <th>FINANCE_EMAIL</th>
    <th>ADVISOR_EMAIL</th>
  </tr>

  {% for row in orgs %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>


<!-- Table of all events + info -->
<h2>Events</h2>
<table>
  <tr>
    <th>EVENT_ID</th>
    <th>TITLE</th>
    <th>APPROVED</th>
    <th>LIASON_NAME</th>
    <th>LIASON_EMAIL</th>
    <th>DESCRIPTION</th>
    <th>LOCATION</th>
    <th>DATETIME_START</th>
    <th>DATETIME_END</th>
    <th>BUDGET</th>
  </tr>

  {% for row in events %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<!-- Table of all users + info -->
<h2>Users</h2>
<table>
  <tr>
    <th>USER_ID</th>
    <th>USER_EMAIL</th>
    <th>PASSWORD</th>
  </tr>

  {% for row in users %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>



<!-- Table of all expenses + info -->
<h2>Expenses</h2>
<table>
  <tr>
		<th>ITEM_ID</th>
		<th>EVENT_ID</th>
		<th>ITEM_NAME</th>
		<th>COST</th>
  </tr>

  {% for row in expenses %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>


<h2>Financiers</h2>
<table>
  <tr>
		<th>FIN_ID</th>
		<th>EVENT_ID</th>
		<th>FINANCIER_EMAIL</th>
		<th>COMPANY</th>
		<th>AMOUNT_SPONSORED</th>
  </tr>

  {% for row in financiers %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>


<h2>Affiliates</h2>
<table>
  <tr>
		<th>AFF_ID</th>
		<th>EVENT_ID</th>
		<th>NAME</th>
		<th>EMAIL</th>
		<th>PHONE</th>
		<th>POSITION</th>
		<th>STATUS</th>
  </tr>

  {% for row in affiliates %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>


{% endblock %}
 

