{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<!--insert event information here in a table format-->

{% for event in events %}
<h2>{{ event.title }}</h2>

<table>
    <tr>
      <th>EVENT ID</th>
      <th>{{ event.event_id }}</th>
    </tr>
    <tr>
        <th>EVENT DESCRIPTION</th>
        <th>{{ event.description }}</th>
    </tr>
    <tr>
        <th>LOCATION</th>
        <th>{{ event.location }}</th>
    </tr>
    <tr>
        <th>TIME</th>
        <th>Start: {{ event.datetime_start }}</th>
        <th>End: {{ event.datetime_end }}</th>
    </tr>
    <tr>
        <th>BUDGET</th>
        <th>{{ event.budget }}</th>
    </tr>
    <tr>
        <th>LIASON NAME</th>
        <th> {{ event.liason_name }}</th>
    </tr>
    <tr>
        <th>LIASON EMAIL</th>
        <th> {{ event.liason_email }}</th>
    </tr>
    <tr>
        <th>APPROVED STATUS</th>
        <th>{{ event.approved }}</th>
    </tr>
    
</table>

<!--insert event information here in a table format-->
<h2>Add an Expense</h2>
<form action="/{{event[0]}}/add_expense" method = "POST"> <!--*** insert event id into this statement somehow-->
<p> Item Name: <input type = "text" name = "item_name" required/></p>
<p> Item Cost: <input type = "text" name = "cost" required/></p>
<p><button type="submit">Submit</button></p>

<h2>Update an Expense</h2>
<form action="/{{event[0]}}/update_expense" method = "POST"> <!--*** insert event id into this statement somehow-->
<p> Item ID: <input type = "text" name = "item_id" required/></p>
<p> If you wish to delete this event, check the following box and leave the rest empty. <input type = "checkbox" name = "delete_request"/></p>
<p> Item Name: <input type = "text" name = "item_name" required/></p>
<p> Item Cost: <input type = "text" name = "cost" required/></p>
<p><button type="submit">Submit</button></p>

{% endfor %}
{% endblock %}


