{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<!--insert event information here in a table format-->


<p><a href="/">Log out</a> &emsp;
<a href="/hub">Return to user hub</a></p>
{% for org in orgs %}
<a href="/org/{{org[0]}}">Return to {{ orgs[1] }}</a>
{% endfor %}

{% for event in events %}
<h2>{{ event.title }}</h2>
<p>{{ orgs[1] }}</p>

<p>Total Budget: ${{ event.budget }}     | Total Cost: ${{ total_expense or 0 }}     |      Funds Remaining: ${% if total_expense%}
    {{event.budget - total_expense}}
{% else %}
    {{ event.budget }}
{% endif %}
</p>

<table>
    <tr>
      <th>EVENT ID</th>
      <th>{{ event.event_id }}</th>
    </tr>
    <tr>
        <th>EVENT DESCRIPTION</th>
        <th>{{ event.description }}</th>
    </tr>
    <tr>
        <th>LOCATION</th>
        <th>{{ event.location }}</th>
    </tr>
    <tr>
        <th>TIME</th>
        <th><p>Start: {{ event.datetime_start.strftime("%a, %b %d, %Y – %-I:%M:%S %p") }}</p>
            <p>End: {{ event.datetime_end.strftime("%a, %b %d, %Y – %-I:%M:%S %p") }}</p></th>
    </tr>
    <tr>
        <th>BUDGET</th>
        <th>{{ event.budget }}</th>
    </tr>
    <tr>
        <th>LIASON NAME</th>
        <th> {{ event.liason_name }}</th>
    </tr>
    <tr>
        <th>LIASON EMAIL</th>
        <th> {{ event.liason_email }}</th>
    </tr>
    <tr>
        <th>APPROVED STATUS</th>
        <th>{{ event.approved }}</th>
    </tr>
    
</table>






<div class="row">
    <div class="column">
        <h2>{{ event.title }} Expenses</h2>
        <table>
          <tr>
                <th>ITEM_ID</th>
                <th>EVENT_ID</th>
                <th>ITEM_NAME</th>
                <th>COST</th>
          </tr>
        
          {% for row in expenses %}
          <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
    </div>

  {% if event.datetime_start  >=  now  %}
    <div class="column">
        <h2>Add an Expense</h2>
        <form action="{{ url_for('add_expense', event_id = event.event_id) }}" method = "POST">
        <p> Item Name: <input type = "text" name = "item_name" required/></p>
        <p> Item Cost: <input type = "text" name = "cost" required/></p>
        <p><button type="submit">Submit</button></p></form>
    </div>
    <div class="column">
        <h2>Update an Expense</h2>
        <form action="{{ url_for('update_expense', event_id = event.event_id) }}" method = "POST"> 
        <p> Item ID: <input type = "text" name = "item_id" required/></p>
        <p> If you wish to delete this expense, check the following box. <input type = "checkbox" name = "delete_request"/></p>
        <p> Item Name: <input type = "text" name = "item_name" /></p>
        <p> Item Cost: <input type = "text" name = "cost" /></p>
        <p><button type="submit">Submit</button></p></form>
    </div>
  </div>

{% endif %}


  <div class="row">
    <div class="column">
      <h2>Financiers</h2> 
      <a class="button" href="mailto:{% for financier in financiers %}
  {{ financier.financier_email }},
   {% endfor %}">Email Financiers:</a> {% for financier in financiers %}
   {{ financier.financier_email }},
    {% endfor %}
    <table>
      <tr>
            <th>FIN_ID</th>
            <th>EVENT_ID</th>
            <th>FINANCIER_EMAIL</th>
            <th>COMPANY</th>
            <th>AMOUNT_SPONSORED</th>
      </tr>
    
      {% for row in financiers %}
      <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    </div>

    {% if event.datetime_start >= now %}

    <div class="column">
      <h2>Add a Financier</h2>
        <form action="{{ url_for('add_financier', event_id = event.event_id) }}" method = "POST"> 
        <p> Financier Email: <input type = "text" name = "financier_email" required/></p>
        <p> Financier Company: <input type = "text" name = "company" required/></p>
        <p> Amount Sponsored: <input type = "text" name = "amount_sponsored" required/></p>
        <p><button type="submit">Submit</button></p></form>
    </div>
    <div class="column">
      <h2>Update Financier Info</h2>
        <form action="{{ url_for('update_financier', event_id = event.event_id) }}" method = "POST"> 
        <p> Financier ID: <input type = "text" name = "fin_id" required/></p>
        <p> If you wish to delete this financier, check the following box. <input type = "checkbox" name = "delete_request_f"/></p>
        <p> Financier Email: <input type = "text" name = "financier_email" /></p>
        <p> Financier Company: <input type = "text" name = "company" /></p>
        <p> Amount Sponsored: <input type = "text" name = "amount_sponsored" /></p>
        <p><button type="submit">Submit</button></p></form>
    </div>
    {% endif %}

  </div>




  
  <div class="row">
    <div class="column">
      <h2>Affiliates</h2>
      <a class="button" href="mailto:{% for aff in affiliates %}
      {{ aff.email }},
       {% endfor %}">Email Affiliates:</a> {% for aff in affiliates %}
       {{ aff.email }},
        {% endfor %}
      <table>
        <tr>
              <th>AFF_ID</th>
              <th>EVENT_ID</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>PHONE</th>
              <th>POSITION</th>
              <th>STATUS</th>
        </tr>
      
        {% for row in affiliates %}
        <tr>
          {% for col in row %}
          <td>{{ col }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>

    {% if event.datetime_start >= now %}

    <div class="column">
      <h2>Invite Affiliates</h2>
      <form action="{{ url_for('add_affiliate', event_id = event.event_id) }}" method = "POST">
        <p> Name: <input type = "text" name = "name" required/></p>
        <p> Email: <input type = "text" name = "email" required/></p>
        <p> Phone: <input type = "text" name = "phone" required/></p>
        <label for="position"> Position: </label>
        <select name="position" id="position">
          <option value="Attendee">Attendee</option>
          <option value="Moderator">Moderator</option>
          <option value="Speaker">Speaker</option>
        </select>
        <label for="status"> Status: </label>
        <select name="status" id="status">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Maybe">Maybe</option>
        </select>
        <p><button type="submit">Submit</button></p></form>
    </div>
    <div class="column">
      <h2>Update Invite or Status</h2>
      <form action="{{ url_for('update_affiliate', event_id = event.event_id) }}" method = "POST"> 
        <p> Affiliate ID: <input type="text" name = "aff_id" /></p>
        <p> If you wish to delete this affiliate, check the following box. <input type = "checkbox" name = "delete_request_a"/></p>
        <p> Name: <input type = "text" name = "name" /></p>
        <p> Email: <input type = "text" name = "email" /></p>
        <p> Phone: <input type = "text" name = "phone" /></p>
        <label for="position"> Position: </label>
        <select name="position" id="position">
          <option value="Attendee">Attendee</option>
          <option value="Moderator">Moderator</option>
          <option value="Speaker">Speaker</option>
        </select>
        <label for="status"> Status: </label>
        <select name="status" id="status">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Maybe">Maybe</option>
        </select>
        <p><button type="submit">Submit</button></p></form>
    </div>

  {% endif %}
  </div>



{% endfor %}
{% endblock %}


