<!-- 
On the home page, there will be a sidebar with a list of the Organizations the user is affiliated with. 
It will also have an Add Organization button. 
The main content area of the homepage will have Future Events and Past Events, and some basic information about each (title, host organization, etc).
-->

{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<h3>Nav Bar: </h3>
<p><a href="/">Return to welcome page</a></p>

<h2>Welcome, {{ email }}!</h2>
<!-- ** somewhere here, grab the user_id and use it to generate the query for orgs the user is affiliated with -->



<!-- Form to add org -->
<h2>Your Organizations</h2>

{% for org in orgs %}
<p><a href="/org/{{org[0]}}">{{ org[1] }}</a></p>

{% endfor %}

</table>

<table>
    <tr>
      <th>ORG_ID</th>
      <th>ORG_NAME</th>
      <th>ORG_DESCRIPTION</th>
      <th>ORG_EMAIL</th>
      <th>MARKETING_EMAIL</th>
      <th>COMMS_EMAIL</th>
      <th>FINANCE_EMAIL</th>
      <th>ADVISOR_EMAIL</th>
    </tr>
  
    {% for row in orgs %}
    <tr>
      {% for col in row %}
      <td>{{ col }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  
<!-- ** add labels to these form inputs? & figure out how to link w database -->
<h2>Add an Organization</h2>
<form action="{{ url_for('add_org') }}" method = "POST"><!-- ** figure out what to put for action -->
<p> Organization Name: <input type = "text" name = "org_name" required/></p>
<p> Organization Description: <textarea rows = "4" cols = "50" name = "org_desc"></textarea></p>
<p> Organization Email: <input type = "text" name = "org_email"/></p>
<p> Marketing Email: <input type = "text" name = "marketing_email"/></p>
<p> Comms Email: <input type = "text" name = "comms_email"/></p>
<p> Finance Email: <input type = "text" name = "finance_email"/></p>
<p> Advisor Email: <input type = "text" name = "advisor_email"/></p>
<p><button type="submit">Submit</button></p>

<h2>Add an Expense</h2>
<form action="{{ url_for('add_expense') }}" method = "POST"> <!--*** insert event id into this statement somehow-->
<p> Item Name: <input type = "text" name = "item_name" required/></p>
<p> Item Cost: <input type = "text" name = "cost" required/></p>
<p><button type="submit">Submit</button></p>

<h2>Update an Expense</h2>
<form action="{{ url_for('update_expense') }}" method = "POST"> <!--*** insert event id into this statement somehow-->
<p> Item ID: <input type = "text" name = "item_id" required/></p>
<p> If you wish to delete this event, check the following box and leave the rest empty. <input type = "checkbox" name = "delete_request"/></p>
<p> Item Name: <input type = "text" name = "item_name" required/></p>
<p> Item Cost: <input type = "text" name = "cost" required/></p>
<p><button type="submit">Submit</button></p>

<p><a href="admin">Go to the admin page</a></p>

{% endblock %}
