<!-- 
On the home page, there will be a sidebar with a list of the Organizations the user is affiliated with. 
It will also have an Add Organization button. 
The main content area of the homepage will have Future Events and Past Events, and some basic information about each (title, host organization, etc).
-->

{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<p><a href="/">Log out</a></p>

<h2>Welcome, {{ email }}!</h2>
<!-- ** somewhere here, grab the user_id and use it to generate the query for orgs the user is affiliated with -->
<p>Click an organization to view the organization details and create or update your events.</p>


<!-- Form to add org -->
<h2>Your Organizations</h2>

{% for org in orgs %}
<p><a href="/org/{{org[0]}}">{{ org[1] }}</a></p>
{% endfor %}

<p>Click an event to view or update the event details.</p>

<h2>Your Upcoming Events</h2>

{% for event in future_events %}
<p><a href="/event/{{event[0]}}">{{ event[1] }}</a> &emsp; | &emsp; {{ event[2] }}</p>
{% endfor %}

<h2>Your Past Events</h2>

{% for event in past_events %}
<p><a href="/event/{{event[0]}}">{{ event[1] }}</a> &emsp; | &emsp; {{ event[2] }}</p>
{% endfor %}


  
<!-- ** add labels to these form inputs? & figure out how to link w database -->
<h2>Add an Organization</h2>
<form action="{{ url_for('add_org') }}" method = "POST"><!-- ** figure out what to put for action -->
<p> Organization Name: <input type = "text" name = "org_name" required/></p>
<p> Organization Description: <textarea rows = "4" cols = "50" name = "org_desc"></textarea></p>
<p> Organization Email: <input type = "text" name = "org_email"/></p>
<p> Marketing Email: <input type = "text" name = "marketing_email"/></p>
<p> Comms Email: <input type = "text" name = "comms_email"/></p>
<p> Finance Email: <input type = "text" name = "finance_email"/></p>
<p> Advisor Email: <input type = "text" name = "advisor_email"/></p>
<p><button type="submit">Submit</button></p>

<p><a href="admin">Go to the admin page</a></p>

{% endblock %}
