<!-- 
On the home page, there will be a sidebar with a list of the Organizations the user is affiliated with. 
It will also have an Add Organization button. 
The main content area of the homepage will have Future Events and Past Events, and some basic information about each (title, host organization, etc).
-->

{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<h3>Nav Bar: </h3>
<p><a href="/">Return to welcome page</a></p>

<h2>Welcome, {{ email }}!</h2>
<!-- ** somewhere here, grab the user_id and use it to generate the query for orgs the user is affiliated with -->



<!-- Form to add org -->
<h2>Your Organizations</h2>
<table>
    <tr>
      <th>ORG_ID</th>
      <th>ORG_NAME</th>
      <th>ORG_DESCRIPTION</th>
      <th>ORG_EMAIL</th>
      <th>MARKETING_EMAIL</th>
      <th>COMMS_EMAIL</th>
      <th>FINANCE_EMAIL</th>
      <th>ADVISOR_EMAIL</th>
    </tr>
  
    {% for row in orgs %}
    <tr>
      {% for col in row %}
      <td>{{ col }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  
<!-- ** add labels to these form inputs? & figure out how to link w database -->
<h2>Add an Organization</h2>
<form method = "POST" action = ""><!-- ** figure out what to put for action -->
<p> Organization Name: <input type = "text" /></p>
<p> Organization Description: <textarea rows = "4" cols = "50"></textarea></p>
<p> Organization Email: <input type = "text" /></p>
<p> Marketing Email: <input type = "text" /></p>
<p> Comms Email: <input type = "text" /></p>
<p> Finance Email: <input type = "text" /></p>
<p> Advisor Email: <input type = "text" /></p>
<p><button type="submit">Submit</button></p>

<p><a href="admin">Go to the admin page</a></p>


{% endblock %}
