<!-- 
This will have all of the links.
-->

{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<pre>
--   __          __  _                            _                                                                     
--   \ \        / / | |                          | |                                                                    
--    \ \  /\  / ___| | ___ ___  _ __ ___   ___  | |_ ___                                                               
--     \ \/  \/ / _ | |/ __/ _ \| '_ ` _ \ / _ \ | __/ _ \                                                              
--      \  /\  |  __| | (_| (_) | | | | | |  __/ | || (_) |                                                             
--       \/  \/ \___|_|\___\___/|_| |_| |_|\___|  \__\___/                                                              
--     _____      _                 _     _         ______               _     __  __                                   
--    / ____|    | |               | |   (_)       |  ____|             | |   |  \/  |                                  
--   | |     ___ | |_   _ _ __ ___ | |__  _  __ _  | |____   _____ _ __ | |_  | \  / | __ _ _ __   __ _  __ _  ___ _ __ 
--   | |    / _ \| | | | | '_ ` _ \| '_ \| |/ _` | |  __\ \ / / _ | '_ \| __| | |\/| |/ _` | '_ \ / _` |/ _` |/ _ | '__|
--   | |___| (_) | | |_| | | | | | | |_) | | (_| | | |___\ V |  __| | | | |_  | |  | | (_| | | | | (_| | (_| |  __| |   
--    \_____\___/|_|\__,_|_| |_| |_|_.__/|_|\__,_| |______\_/ \___|_| |_|\__| |_|  |_|\__,_|_| |_|\__,_|\__, |\___|_|   
--                                                                                                       __/ |          
--                                                                                                      |___/           </pre>
<h1>Welcome to the Columbia Event Management System!</h1>
<h3>Visit the sites below</h3>
<p><a href="admin">Go to the admin page</a></p>
<p><a href="login">Go to the login page</a></p>
<p><a href="hub">Go to the user hub</a></p>

{% endblock %}
