<!--A student who is affiliated with an organization logs in to our website as a user using their email and password. 
-->

{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<h3>Nav Bar: </h3>
<p><a href="/">Return to welcome page</a></p>

<h3>Please log in below</h3>
<form action="{{ url_for('login_submit') }}" method = "POST" > <!-- ** figure out what to put for action -->
<p>Email: <input type="text" name = "email" /></p>
<p>Password: <input type="password" name = "password"/></p>
<p><button type="submit">Submit</button></p>
</form>
{{ access }}

<p>Here's a user login you can use:</p>
<p>j.smith@columbia.edu</p>
<p>S2w!uY#8mL</p>

<!-- ** how do we connect this w the database? -->

{% endblock %}