{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<!-- Form to add org -->

<h1>{{ org.org_name }}</h1>
<a class="button" href="mailto: {{org.org_email}}, {{ org.marketing_email }}, {{ org.comms_email }}, {{ org.finance_email }},{{ org.advisor_email }}">
Email Organization:</a> {{org.org_email}}, {{ org.marketing_email }}, {{ org.comms_email }}, {{ org.finance_email }}, {{ org.advisor_email }}

<table>
    <tr>
      <th>ORG_ID</th>
      <th> {{ org.org_id }}</th>
    </tr>
    <tr>
        <th>ORG_DESCRIPTION</th>
        <th> {{ org.org_description }}</th>
    </tr>
    <tr>
        <th>ORG_EMAIL</th>
        <th> {{ org.org_email }}</th>
    </tr>
    <tr>
        <th>MARKETING_EMAIL</th>
        <th> {{ org.marketing_email }}</th>
    </tr>
    <tr>
        <th>COMMS_EMAIL</th>
        <th> {{ org.comms_email }}</th>
    </tr>
    <tr>
        <th>FINANCE_EMAIL</th>
        <th> {{ org.finance_email }}</th>
    </tr>
    <tr>
        <th>ADVISOR_EMAIL</th>
        <th> {{ org.advisor_email }}</th>
    </tr>
  </table>


<h1>Events</h1>

{% for event in events %}
<h2><a href="/event/{{event[0]}}">{{ event[1] }}</a></h2>

<table>
    <tr>
      <th>EVENT ID</th>
      <th>{{ event.event_id }}</th>
    </tr>
    <tr>
        <th>EVENT DESCRIPTION</th>
        <th>{{ event.description }}</th>
    </tr>
    <tr>
        <th>LOCATION</th>
        <th>{{ event.location }}</th>
    </tr>
    <tr>
        <th>TIME</th>
        <th><p>Start: {{ event.datetime_start.strftime("%a, %b, %12, %Y – %-I:%M:%S %p") }}</p>
        <p>End: {{ event.datetime_end.strftime("%a, %b, %12, %Y – %-I:%M:%S %p") }}</p></th>
    </tr>
    <tr>
        <th>BUDGET</th>
        <th>{{ event.budget }}</th>
    </tr>
    <tr>
        <th>LIASON NAME</th>
        <th> {{ event.liason_name }}</th>
    </tr>
    <tr>
        <th>LIASON EMAIL</th>
        <th> {{ event.liason_email }}</th>
    </tr>
    <tr>
        <th>APPROVED STATUS</th>
        <th>{{ event.approved }}</th>
    </tr>
</table>
{% endfor %}


<h2>Add an Event</h2>
<form action="{{ url_for('add_event', org_id = org.org_id) }}" method = "POST"><!-- ** figure out what to put for action -->
<p> Event Title: <span>*</span> <input type = "text" name = "title" required/></p>
<p> Event Description: <textarea rows = "4" cols = "50" name = "description"></textarea></p>
<p> Location: <input type = "text" name = "location"/></p>
<p> Start Time: <input type = "datetime-local" name = "datetime_start"/></p>
<p> End Time: <input type = "datetime-local" name = "datetime_end"/></p>
<p> Budget: <input type = "text" name = "budget"/></p>
<p> Liason Name: <input type = "text" name = "liason_name"/></p>
<p> Liason Email: <input type = "text" name = "liason_email"/></p>
<p> Approval Status: <input type = "text" name = "approved"/></p>
<p><button type="submit">Submit</button></p></form>

<h2>Users</h2>

<table>
<tr>
    <th>USER_ID</th>
    <th>USER_EMAIL</th>
  </tr>
{% for user in users %}
<tr>
	<th>{{user[0]}}</th>
	<th>{{user[1]}}</th>
</tr>
{% endfor %}
</table>
   

{% endblock %}


