{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<!-- Form to add org -->

{% for org in orgs %}
<h2>{{ org.org_name }}</h2>

<table>
    <tr>
      <th>ORG_ID</th>
      <th> {{ org.org_id }}</th>
    </tr>
    <tr>
        <th>ORG_DESCRIPTION</th>
        <th> {{ org.org_description }}</th>
    </tr>
    <tr>
        <th>ORG_EMAIL</th>
        <th> {{ org.org_email }}</th>
    </tr>
    <tr>
        <th>MARKETING_EMAIL</th>
        <th> {{ org.marketing_email }}</th>
    </tr>
    <tr>
        <th>COMMS_EMAIL</th>
        <th> {{ org.comms_email }}</th>
    </tr>
    <tr>
        <th>FINANCE_EMAIL</th>
        <th> {{ org.finance_email }}</th>
    </tr>
    <tr>
        <th>ADVISOR_EMAIL</th>
        <th> {{ org.advisor_email }}</th>
    </tr>
  </table>

{% endfor %}


<h2>{{ Users }}</h2>
<table>
<tr>
    <th>USER_ID</th>
    <th>USER_EMAIL</th>
  </tr>
{% for user in users %}
<tr>
    <th>user.user_id</th>
    <th>user.user_email</th>
</tr>
{% endfor %}
</table>
   

{% endblock %}


